# dependencies
node_modules/

# environment variables
.env
.env.local

# macOS
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# SSH keys / private keys
bewkey
bewkey.pub
*.pem
*.key

# Docker / temporary
.docker/